<div>
  <link href="./blog-post-card1.css" rel="stylesheet" />
  <div class="blog-post-card1-blog-post-card">
    <img
      alt="image"
      src="/playground_assets/pexels-patrice-schoefolt-11245581%5B1%5D-1500w.jpg"
      class="blog-post-card1-image"
    />
    <div class="blog-post-card1-container">
      <span class="blog-post-card1-text"><span>DER AUERHAHN</span></span>
      <span class="blog-post-card1-text1">
        <span>DER UR VOGEL STIRBT AUS</span>
      </span>
      <span class="blog-post-card1-text2">
        <span>
          Um zu Beginnen musst du den QR-Code scannen, den du vor dir siehst.
          Danach führt dich die Web App durch eine kleine Schnitzeljagd auf den
          Spuren des Urogallo.
        </span>
      </span>
      <div class="blog-post-card1-container1">
        <div class="blog-post-card1-profile"></div>
      </div>
    </div>
  </div>
</div>
